apiVersion: v1
kind: Service
metadata:
  name: deployment-service
  namespace: {{ default .Release.Namespace .Values.defaultNamespace }}
spec:
  selector:
    app: deployment
  type: LoadBalancer
  ports:
    - name: http
      protocol: TCP
      port: 90
      targetPort: 90
    - name: grpc
      protocol: TCP
      port: 80
      targetPort: 80
