apiVersion: apps/v1
kind: Deployment
metadata:
  name: grammar
  namespace: {{ default .Release.Namespace .Values.global.defaultNamespace }}
  labels:
    app: grammar
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grammar
  template:
    metadata:
      labels:
        app: grammar
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port: '5110'
{{- include "lumenvox-common.serviceMeshAnnotations" . | indent 8 }}
    spec:
      containers:
        - name: grammar
          image: {{ .Values.image.repository | default .Values.global.image.repository }}/grammar{{ .Values.image.tag | default .Values.global.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy | default .Values.global.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 5110
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: {{ .Values.global.lumenvox.service.startDelaySeconds }}
            periodSeconds: {{ .Values.global.lumenvox.probes.periodSeconds }}
          {{- if .Values.global.lumenvox.service.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: {{ .Values.global.lumenvox.service.startDelaySeconds }}
            periodSeconds: {{ .Values.global.lumenvox.probes.periodSeconds }}
          {{- end }}
          resources:
            requests:
              {{- if .Values.global.lumenvox.enforceReservations }}
              cpu: 500m
              memory: 1000Mi
              {{- end }}
            {{- if .Values.global.lumenvox.enforceLimits }}
            limits:
              cpu: 1000m
              memory: 2000Mi
            {{- end }}
          envFrom:
            - configMapRef:
                name: timezone-configmap
            {{- if .Values.global.rabbitmq.auth.existingPasswordSecret }}
            - secretRef:
                name: {{ .Values.global.rabbitmq.auth.existingPasswordSecret }}
            {{- end }}
            {{- if .Values.global.redis.auth.existingSecret }}
            - secretRef:
                name: {{ .Values.global.redis.auth.existingSecret }}
            {{- end }}
            {{- if .Values.global.extraRootCaCerts }}
            - secretRef:
                name: extra-root-ca-secret
            {{- end }}
          env:
            {{- if not .Values.global.rabbitmq.auth.existingPasswordSecret }}
            - name: rabbitmq-password
              value: '{{ .Values.global.rabbitmq.auth.password }}'
            {{- end }}
            {{- if not .Values.global.redis.auth.existingSecret }}
            - name: redis-password
              value: '{{ .Values.global.redis.auth.password }}'
            {{- end }}
            - name: GLOBAL_SETTINGS__CLUSTER_LOG_VERBOSITY
              value: '{{ .Values.global.lumenvox.loggingVerbosity }}'
            - name: LICENSE_SETTINGS__CLUSTER_GUID
              value: '{{ .Values.global.licensing.clusterGuid }}'
            - name: REDIS_SETTINGS__DEFAULT_TTL
              value: '{{ .Values.global.lumenvox.redisTtl }}'
            - name: RMQ_CA_CERTIFICATE
              value: '{{ .Values.global.rabbitmq.caCertificate }}'
            - name: RMQ_CLIENT_CERTIFICATE
              value: '{{ .Values.global.rabbitmq.clientCertificate }}'
            - name: RMQ_CLIENT_KEY
              value: '{{ .Values.global.rabbitmq.clientKey }}'
            - name: GLOBAL_SETTINGS__RABBITMQ_CONNECTION_STRING
              value: 'amqp{{ if .Values.global.rabbitmq.enableTLS }}s{{ end }}://{{ .Values.global.rabbitmq.connection.user }}:$(rabbitmq-password)@{{ .Values.global.rabbitmq.connection.url }}:{{ .Values.global.rabbitmq.connection.port }}'
            - name: GLOBAL_SETTINGS__RMQ_QUEUE_EXPIRE_MS
              value: '{{ .Values.global.lumenvox.rabbitmqQueueExpirationMs }}'
            - name: GRAMMAR_SETTINGS__MAX_GRAMMAR_TRANSITIONS
              value: '{{ .Values.grammar.maxGrammarTransitions }}'
            {{- if .Values.grammar.useLegacyEnhanced }}
            - name: GRAMMAR_SETTINGS__USE_LEGACY_ENHANCED
              value: '1'
            {{- end }}
            - name: SERVICE_ADDRESSES__CONFIGURATION_SERVICE
              value: 'configuration-service.{{ default .Release.Namespace .Values.global.defaultNamespace }}:5000'
            - name: SERVICE_ADDRESSES__DEPLOYMENT_SERVICE
              value: 'deployment-service.{{ default .Release.Namespace .Values.global.defaultNamespace }}:5000'
            - name: GOLANG_PROTOBUF_REGISTRATION_CONFLICT
              value: 'ignore'
            {{- if .Values.global.httpProxy.enabled }}
            - name: http_proxy
              value: {{ .Values.global.httpProxy.proxyUrl }}
            - name: https_proxy
              value: {{ .Values.global.httpProxy.proxyUrl }}
            - name: HTTP_PROXY
              value: {{ .Values.global.httpProxy.proxyUrl }}
            - name: HTTPS_PROXY
              value: {{ .Values.global.httpProxy.proxyUrl }}
            - name: no_proxy
              value: {{ .Values.global.httpProxy.noProxy }}
            - name: NO_PROXY
              value: {{ .Values.global.httpProxy.noProxy }}
            {{- end }}
          volumeMounts:
            - mountPath: /etc/lumenvox/Lang/Dict
              name: lang
              subPath: Dict
            - mountPath: /etc/lumenvox/Lang/AsrModels
              name: lang
              subPath: AsrModels
            - mountPath: /var/lumenvox/cache
              name: europa-cache
            - mountPath: /var/log/lumenvox/sre
              name: grammarlog
      {{- if .Values.global.imagePullSecrets }}
      imagePullSecrets:
      {{- range .Values.global.imagePullSecrets }}
        - name: {{ . }}
      {{- end }}
      {{- end }}
      initContainers:
        - name: wait-for-deployment-service
          image: {{ .Values.image.repository | default .Values.global.image.repository }}/cloud-init-tools{{ .Values.image.tag | default .Values.global.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy | default .Values.global.image.pullPolicy }}
          command: ["curl2"]
          args: ["http://deployment-service.{{ default .Release.Namespace .Values.global.defaultNamespace }}:5110/health", "Deployment Service"]
        - name: wait-for-resource-manager
          image: {{ .Values.image.repository | default .Values.global.image.repository }}/cloud-init-tools{{ .Values.image.tag | default .Values.global.image.tag }}
          imagePullPolicy: {{ $.Values.image.pullPolicy | default $.Values.global.image.pullPolicy }}
          command: ["curl2"]
          args: ["http://resource-service.{{ default .Release.Namespace .Values.global.defaultNamespace }}:5110/health", "Resource Manager Service"]
      volumes:
        - name: lang
          persistentVolumeClaim:
            claimName: lang-claim
            readOnly: false
        - name: europa-cache
          persistentVolumeClaim:
            claimName: europa-cache-claim
            readOnly: false
        - name: grammarlog
          persistentVolumeClaim:
            claimName: grammarlogs-claim
            readOnly: false
      {{- if .Values.global.lumenvox.schedulerName }}
      schedulerName: {{ .Values.global.lumenvox.schedulerName }}
      {{- end }}
