{{- if not .Values.global.minimalInstall }}
{{- range .Values.global.ttsLanguages }}
{{- if not .legacyEnabled }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: neural-tts-{{ .name | replace "_" "-" }}
  namespace: {{ default $.Release.Namespace $.Values.global.defaultNamespace }}
  labels:
    app: neural-tts-{{ .name | replace "_" "-" }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: neural-tts-{{ .name | replace "_" "-" }}
  template:
    metadata:
      labels:
        app: neural-tts-{{ .name | replace "_" "-" }}
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port: '5110'
{{- include "lumenvox-common.serviceMeshAnnotations" $ | indent 8 }}
    spec:
      containers:
        - name: neural-tts
          image: {{ $.Values.image.repository | default $.Values.global.image.repository }}/neural-tts{{ $.Values.image.tag | default $.Values.global.image.tag }}
          imagePullPolicy: {{ $.Values.image.pullPolicy | default $.Values.global.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 5110
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: {{ $.Values.global.lumenvox.service.startDelaySeconds }}
            periodSeconds: {{ $.Values.global.lumenvox.probes.periodSeconds }}
          {{- if $.Values.global.lumenvox.service.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: {{ $.Values.global.lumenvox.service.startDelaySeconds }}
            periodSeconds: {{ $.Values.global.lumenvox.probes.periodSeconds }}
          {{- end }}
          resources:
            requests:
              cpu: {{ (index ($.Values.tts.neuralTtsResources.requests | default dict) "cpu") | default "2000m" }}
              memory: {{ (index ($.Values.tts.neuralTtsResources.requests | default dict) "memory") | default "4000Mi" }}
            limits:
              cpu: {{ (index ($.Values.tts.neuralTtsResources.limits | default dict) "cpu") | default "3000m" }}
              memory: {{ (index ($.Values.tts.neuralTtsResources.limits | default dict) "memory") | default (ternary "20000Mi" "8000Mi" (eq (toString ($.Values.global.platform | default "")) "cloud")) }}
          envFrom:
            - configMapRef:
                name: timezone-configmap
            {{- if $.Values.global.rabbitmq.auth.existingPasswordSecret }}
            - secretRef:
                name: {{ $.Values.global.rabbitmq.auth.existingPasswordSecret }}
            {{- end }}
            {{- if $.Values.global.redis.auth.existingSecret }}
            - secretRef:
                name: {{ $.Values.global.redis.auth.existingSecret }}
            {{- end }}
          env:
            {{- if not $.Values.global.rabbitmq.auth.existingPasswordSecret }}
            - name: rabbitmq-password
              value: '{{ $.Values.global.rabbitmq.auth.password }}'
            {{- end }}
            {{- if not $.Values.global.redis.auth.existingSecret }}
            - name: redis-password
              value: '{{ $.Values.global.redis.auth.password }}'
            {{- end }}
            - name: GLOBAL_SETTINGS__CLUSTER_LOG_VERBOSITY
              value: '{{ $.Values.global.lumenvox.loggingVerbosity }}'
            - name: LICENSE_SETTINGS__CLUSTER_GUID
              value: '{{ $.Values.global.licensing.clusterGuid }}'  
            - name: REDIS_SETTINGS__DEFAULT_TTL
              value: '{{ $.Values.global.lumenvox.redisTtl }}'
            - name: RMQ_CA_CERTIFICATE
              value: '{{ $.Values.global.rabbitmq.caCertificate }}'
            - name: RMQ_CLIENT_CERTIFICATE
              value: '{{ $.Values.global.rabbitmq.clientCertificate }}'
            - name: RMQ_CLIENT_KEY
              value: '{{ $.Values.global.rabbitmq.clientKey }}'
            - name: GLOBAL_SETTINGS__RABBITMQ_CONNECTION_STRING
              value: 'amqp{{ if $.Values.global.rabbitmq.enableTLS }}s{{ end }}://{{ $.Values.global.rabbitmq.connection.user }}:$(rabbitmq-password)@{{ $.Values.global.rabbitmq.connection.url }}:{{ $.Values.global.rabbitmq.connection.port }}'
            - name: GLOBAL_SETTINGS__RMQ_QUEUE_EXPIRE_MS
              value: '{{ $.Values.global.lumenvox.rabbitmqQueueExpirationMs }}'
            - name: SERVICE_ADDRESSES__CONFIGURATION_SERVICE
              value: 'configuration-service.{{ default $.Release.Namespace $.Values.global.defaultNamespace }}:5000'
            - name: SERVICE_ADDRESSES__DEPLOYMENT_SERVICE
              value: 'deployment-service.{{ default $.Release.Namespace $.Values.global.defaultNamespace }}:5000'
            - name: TTS3_SETTINGS__SERVICE_LANGUAGE
              value: '{{ .name }}'
            - name: NEURAL_TTS_SETTINGS__SERVICE_VOICES
              value: '{{ template "lumenvox-speech.NEURAL_TTS_SETTINGS__SERVICE_VOICES" . }}'
            - name: CLUSTER_LANGUAGES__NEURAL_TTS_VOICES
              value: '{{ template "lumenvox-speech.NEURAL_TTS_SETTINGS__SERVICE_VOICES" . }}'
            - name: GOLANG_PROTOBUF_REGISTRATION_CONFLICT
              value: 'ignore'
            - name: ENABLE_FAKE_RESULT
              value: '{{ $.Values.tts.useFakeResult }}'
            {{- if $.Values.global.httpProxy.enabled }}
            - name: http_proxy
              value: {{ $.Values.global.httpProxy.proxyUrl }}
            - name: https_proxy
              value: {{ $.Values.global.httpProxy.proxyUrl }}
            - name: HTTP_PROXY
              value: {{ $.Values.global.httpProxy.proxyUrl }}
            - name: HTTPS_PROXY
              value: {{ $.Values.global.httpProxy.proxyUrl }}
            - name: no_proxy
              value: {{ $.Values.global.httpProxy.noProxy }}
            - name: NO_PROXY
              value: {{ $.Values.global.httpProxy.noProxy }}
            {{- end }}
          volumeMounts:
            - mountPath: /usr/local/lib/python3.8/dist-packages
              name: lang
              subPath: DistPackageModels/neural_tts/dist-packages
            - mountPath: /app/TtsModels
              name: lang
              subPath: NeuralTtsModels
            - mountPath: /tts_cache
              name: tts-cache
            - mountPath: /app/BackendModels
              name: lang
              subPath: BackendModels
      {{- if $.Values.global.imagePullSecrets }}
      imagePullSecrets:
      {{- range $.Values.global.imagePullSecrets }}
        - name: {{ . }}
      {{- end }}
      {{- end }}
      initContainers:
        - name: wait-for-deployment-service
          image: {{ $.Values.image.repository | default $.Values.global.image.repository }}/cloud-init-tools{{ $.Values.image.tag | default $.Values.global.image.tag }}
          imagePullPolicy: {{ $.Values.image.pullPolicy | default $.Values.global.image.pullPolicy }}
          command: ["curl2"]
          args: ["http://deployment-service.{{ default $.Release.Namespace $.Values.global.defaultNamespace }}:5110/health", "Deployment Service"]
        - name: wait-for-resource-manager
          image: {{ $.Values.image.repository | default $.Values.global.image.repository }}/cloud-init-tools{{ $.Values.image.tag | default $.Values.global.image.tag }}
          imagePullPolicy: {{ $.Values.image.pullPolicy | default $.Values.global.image.pullPolicy }}
          command: ["curl2"]
          args: ["http://resource-service.{{ default $.Release.Namespace $.Values.global.defaultNamespace }}:5110/health", "Resource Manager Service"]    
      volumes:
        - name: lang
          persistentVolumeClaim:
            claimName: lang-claim
            readOnly: false
        - name: tts-cache
          persistentVolumeClaim:
            claimName: tts-cache-claim
            readOnly: false
      {{- if $.Values.global.lumenvox.schedulerName }}
      schedulerName: {{ $.Values.global.lumenvox.schedulerName }}
      {{- end }}
{{- end }}
{{- end }}
{{- end }}