apiVersion: v2
name: lumenvox
description: LumenVox Helm chart for Kubernetes
type: application
version: 3.4.4
appVersion: "3.4.4"
home: https://lumenvox.com
annotations:
  artifacthub.io/containsSecurityUpdates: true
  artifacthub.io/images: |
    - name: cloud-init-tools
      image: lumenvox/cloud-init-tools:3.4

dependencies:
  - name: lumenvox-vb
    version: 3.4.2
    condition: global.enabled.lumenvoxVb
    repository: "https://lumenvox.github.io/helm-charts"

  - name: lumenvox-common
    version: 3.4.2
    condition: global.enabled.lumenvoxCommon
    repository: "https://lumenvox.github.io/helm-charts"

  - name: lumenvox-speech
    version: 3.4.2
    condition: global.enabled.lumenvoxSpeech
    repository: "https://lumenvox.github.io/helm-charts"

