apiVersion: v2
name: lumenvox
description: LumenVox Helm chart for Kubernetes
type: application
version: 6.3.0
appVersion: "6.3.0"
home: https://lumenvox.com
annotations:
  artifacthub.io/containsSecurityUpdates: true
  artifacthub.io/images: |
    - name: cloud-init-tools
      image: lumenvox/cloud-init-tools:6.3

dependencies:
  - name: lumenvox-vb
    version: 6.3.0
    condition: global.enabled.lumenvoxVb
    repository: "https://lumenvox.github.io/helm-charts"

  - name: lumenvox-common
    version: 6.3.0
    condition: global.enabled.lumenvoxCommon
    repository: "https://lumenvox.github.io/helm-charts"

  - name: lumenvox-speech
    version: 6.3.0
    condition: global.enabled.lumenvoxSpeech
    repository: "https://lumenvox.github.io/helm-charts"

