# Default values for speech.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image: {}

global:
  asrLanguages: []
  ttsLanguages: []

redis:
  auth:
    existingSecret: redis-existing-secret

rabbitmq:
  auth:
    existingPasswordSecret: "rabbitmq-existing-secret"

asr:
  useFakeResult: "false"

tts:
  useFakeResult: "false"
