# Default values for voice-biometrics.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image: {}

rabbitmq:
  auth:
    existingPasswordSecret: "rabbitmq-existing-secret"
